@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    font-family: Nunito;
    margin: 0;
    padding: 0;
}



#login {
	display: grid;
	width:100vw;
	height:100vh;
	align-items: center;
	justify-items: center;
	align-content: center;
	z-index: 100;
}
#login form {
	display: grid;
	box-shadow: 0 10px 80px rgb(92 133 150 / 25%);
	border-radius: 10px;
	padding: 20px 40px 30px 40px;
	width: 500px;
	grid-gap: 5px;
	background: white;
}
#login input, #login select {
	display: block;
	height: 40px;
	border-radius: 5px;
	border: 0;
	/*background: #f1f1f1;*/
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
	padding: 0 15px;
}
#login button {
	border: 0;
	margin: 0;
	width: auto;
	border-radius: 5px;
	height: 40px;
	font-size: 13px;
    background: #116eee;
    color: white;
    margin-top: 5px;
}
#login h1 {
	text-align: center;
	padding-bottom: 10px;
}
#login .login {
	box-shadow: 0 10px 80px rgb(92 133 150 / 25%);
	padding: 50px 30px;
	font-size: 50px;
	background: var(--red);
	width: 700px;
	border-radius: 10px;
	color: white;
	font-weight: normal;
	display: grid;
	text-align: center;
	text-decoration: none;
}
#login .login span {
	opacity: 0.7;
	font-size: 20px;
}